body {
    font-family: "Roboto", sans-serif;
}

header {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
}

/*Margin stuff*/
section.indents p {
    text-indent: 4em;
}

section.indents p:first-of-type {
    text-indent: 0;
}

section.margins p {
    margin-bottom: 1em;
}
/*I cant tell what the code is doing. im gonna try indents and see if its more obvious*/