body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
}

/*Margin stuff*/

* {
    margin: 0;
    padding: 0;
}

section.indents p {
    text-indent: 4em;
}

section.indents p:first-of-type {
    text-indent: 0;
}

section.margins p {
    margin-bottom: 1em;
}

p {
    line-height: 140%;
}

section {
    border: black 2px dashed;
    margin: 15px;
}